* {
  margin: 0;
  padding: 0;
  /* 盒子模式切换, border-box为ie盒子, padding不影响设定宽高 */
  box-sizing: border-box;
}
.father_box{
  font-size: 0;
}
.box, .box1{
  padding: 80px 0 0 80px;
  width: 200px;
  height: 200px;

  font-size: 20px;
  background-color: yellow;
}
.box1{
  background-color: red;
}

/* 块级，非块级 
  区别为布局属性是否生效(盒子大小(宽高)、内外间距(margin、padding)等)
*/
/* 文档流的水平排列 */
.both{
  /* 行内，只能改变盒子里的字体大小、颜色、背景色等描绘属性 */
  /* display: inline; */

  /* 行内块元素,  可以并列的块级元素
    相邻元素可能会出现4px间距，此时父盒子给一个font-size：0即可
  */
  display: inline-block; 
}
